.container {
  background-color: rebeccapurple;
  margin-bottom: 20px;
  padding: 10px;

  display: flex;
  gap: 10px;
}

.item {
  padding: 8px;
  background-color: yellow;
  order: 10;
}

#container01 {
  flex-flow: row wrap;
}

#container02 {
  flex-flow: column wrap;
}

.item-4 {
  order: -1;
}


